table {
    width: 600px;
    margin: auto;
    padding: 10px;
    border-style: solid;
    border-radius: 10px;
    border
}
td {
	padding: 0px;
}

body, html {
	background-color: lightgrey;
	height: 100%;
}